@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

html, body {
  background: transparent;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.9);
}

/* Optional gradient thumb */
/* 
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, rgb(41, 58, 95), rgb(94, 93, 93));
}
*/
